@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Leaflet Map Styles */
.leaflet-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

.dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.emp-name {
  background: #c79e3bed;
  padding: 4px 8px;
  border-radius: 4px;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid rgb(11, 207, 11);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-header {
  border-bottom: 4px solid #e5a102ed;
  border-top: 4px solid rgb(2, 205, 2);
}

.login-container {
  box-shadow: inset 0 0 8px 0px #cecece;
}